<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinde - Go Starter kit</title>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <style>
        [hidden] {
            display: none !important; 
        }
    </style>
<link rel="stylesheet" href="/styles/index.css"> -->

<!-- <body>
<header>
        <nav class="nav container">
          <h1 class="text-display-3">KindeAuth</h1>
          <div class="go-logged-out-view">
            <button id="login" class="btn btn-ghost sign-in-btn">
              Sign in
            </button>
            <button id="register" class="btn btn-dark">
              Sign up
            </button>
          </div>
        </nav>
      </header>

      <main>
        <div class="container">

            <div class="go-logged-out-view">
                <div class="card hero">
                    <p class="text-display-1 hero-title">
                    Let's start authenticating <br /> with KindeAuth
                    </p>
                    <p class="text-body-1 hero-tagline">Configure your app</p>
                    <!-- go sdk or starter kit -->
<!-- <a
                        href="https://kinde.com/docs/sdks/javascript-sdk"
                        target="_blank"
                        rel="noreferrer"
                        class="btn btn-light btn-big"
                        >
                        Go to docs
                    </a>

                </div>
            </div>
      </main> -->

      testing wtf
<!-- <footer class="footer">
        <div class="container">
          <strong class="text-heading-2">KindeAuth</strong>
          <p class="footer-tagline text-body-3">
            Visit our
            <a class="link" href="https://kinde.com/docs">
              help center
            </a>
          </p>

          <small class="text-subtle">
            © 2022 KindeAuth, Inc. All rights reserved
          </small>
        </div>
      </footer>
</body>
</html> -->
