<!-- header.tmpl -->
{{define "header"}}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Kinde - Go Starter Kit</title>
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no"
      />
      <style>
        [hidden] {
          display: none !important;
        }
      </style>
      <link rel="stylesheet" href="/styles/index.css" />
    </head>
    <body>
{{end}}
